  <div>
      <h2>Log In</h2>
      <form action="login" method="get post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Log In</button>
      </form>
      
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
      
      <p>Make an account <a href="/login.js">Sign up</a> now.</p>

       <h3>Sign Up</h3>
    <form class="signup-form">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required><br>

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required><br>

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required><br>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>

      <button class="btn btn-primary signup" type="submit" value="submit">Sign up</button>
    </form>
  <script src="/js/login.js"></script>
</div>