<div>
  <h2 style="color: white;">Log In</h2>
  <form>
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="email-login" name="email" required />
    <label for="password" class="form-label">Password:</label>
    <input type="password" class="form-control"id="password-login" name="password" required />
    <br/>

    <button class="btn btn-success" id="login" type="submit">Log in</button>
  </form><br/>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  {{! <p>Make an account <a href="/login.js">Sign up</a> now.</p> }}

  <h3 style="color: white;">Sign Up</h3>
  <form class="signup-form">
    <label for="signup_first_name" class="form-label">First Name:</label>
    <input type="text" class="form-control" id="signup_first_name" name="first_name" required />
    <label for="signup_last_name" class="form-label">Last Name:</label>
    <input type="text" class="form-control" id="signup_last_name" name="last_name" required />
    <label for="signup_email" class="form-label">Email:</label>
    <input type="email" class="form-control" id="signup_email" name="email" required />
    <label for="signup_password" class="form-label">Password:</label>
    <input type="password" class="form-control" id="signup_password" name="password" required />
    <br/>
    
    <button class="btn btn-success" href="/user/:id" type="submit" value="submit" role="button">Sign up</button>
  </form>
  <script src="/js/login.js"></script>
</div>

<script>

  document.getElementById("login").addEventListener("click", loginFormHandler)
</script>