<div>
  <h2>Log In</h2>
  <form>
    <label for="email">Email:</label>
    <input type="email" id="email-login" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password-login" name="password" required />

    <button id="login" type="submit">Log in</button>
  </form>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  {{! <p>Make an account <a href="/login.js">Sign up</a> now.</p> }}

  <h3>Sign Up</h3>
  <form class="signup-form">
    <label for="signup_first_name">First Name:</label>
    <input type="text" id="signup_first_name" name="first_name" required /><br
    />

    <label for="signup_last_name">Last Name:</label>
    <input type="text" id="signup_last_name" name="last_name" required /><br />

    <label for="signup_email">Email:</label>
    <input type="email" id="signup_email" name="email" required /><br />

    <label for="signup_password">Password:</label>
    <input type="password" id="signup_password" name="password" required /><br
    />

    <a
      href="/user/:id"
      class="btn btn-primary"
      type="submit"
      value="submit"
      role="button"
    >Sign up</a>
  </form>
  <script src="/js/login.js"></script>
</div>

<script>

  document.getElementById("login").addEventListener("click", loginFormHandler)
</script>