<div class="name">
  <h2>{{first_name}}</h2>
</div>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title">Log a fresh catch!</h5>
    <div class="formContainer">
      <form class="newCatch">
        <label for="fishType">type of fish:</label>
        <input type="text" class="fishInput" name="fishType"/>
        <label for="fishLength">length of fish (inches):</label>
        <input type="text" class="lengthInput" name="fishLength"/>
        <label for="lakeName">lake name:</label>
        <input type="text" class="lakeInput" name="lakeName"/>
        <label for="dateInput">date caught:</label>
        <input type="date" class="dateInput" name="dateInput"/>
      </form>
    </div>
      <a href="#" class="btn btn-primary">Save My Catch!</a>
  </div>  
</div>
<h5>Previous Catches:</h5>
{{#each fishData}}
<div class="card catchList">
  <div class="card-body previousCatches">
  {{#if (eq user_id)}}
    <div>
      <p>Species: {{fish_type}}</p>
      <p>Length: {{fish_length}} inches</p>
      <p>Caught on: {{date_caught}}</p>
    </div>
  {{/if}}
  </div>
</div>
{{/each}}