header {
  color: white;
}

body {
  background-image: url("/images/dock-northwoods-11-1-2017.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: white;
}
.w-100 {
  color: black;
}
.form-control {
  width: 300px;
}

footer {
color:  white;
}