header {
  color: white;
}

body {
  background-image: url("/images/dock-northwoods-11-1-2017.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: white;
  margin-bottom: 50px;
}
.w-100 {
  color: black;
}
.form-control {
  width: 300px;
}

footer {
color:  white;
}

.grid {
  display: flex;

}
.card {
  width: 50%;
  color:black;
  padding: 10px;

}
.catches {
  width: 50%;
  padding: 10px;

}

@media screen and (max-width: 992px) {
.catches {
width: 100%;
} 
.card {
  width: 100%;
  } 
}